extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class='img-fluid')
            .col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu porttitor sem. Nullam dignissim tempor elit, rutrum ultrices sem luctus et. Fusce viverra consequat elit sit amet blandit. Integer sagittis, ipsum eget faucibus pellentesque, sem leo lobortis nibh, eu interdum velit nulla sit amet lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam tristique malesuada nulla sed interdum. Integer at velit non leo laoreet commodo.

                p Ut auctor nunc id sem commodo congue. Donec non erat est. Donec sit amet lobortis leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis nisl est, molestie vel hendrerit vel, consequat vel nulla. Curabitur viverra tincidunt risus et pulvinar. Donec pharetra a augue vehicula fringilla. Vivamus tempor blandit risus eu luctus.

                p Sed pharetra varius nulla. Nullam commodo magna diam, nec egestas lacus semper auctor. Praesent aliquet dolor et odio scelerisque laoreet id ut massa. In hac habitasse platea dictumst. Quisque quis purus vel dui consequat lacinia. Vivamus eget pellentesque lacus. Integer maximus ligula vel turpis consectetur blandit. Maecenas fermentum felis sed sapien interdum, at aliquam quam tempus. Nullam egestas sed urna eu lacinia. Nam vel sem non tortor tincidunt sollicitudin. Aenean fringilla quam eget pharetra facilisis.
    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class='img-fluid' mb-4)
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu porttitor sem. Nullam dignissim tempor elit, rutrum ultrices sem luctus et. Fusce viverra consequat elit sit amet blandit.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class='img-fluid' mb-4)
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu porttitor sem. Nullam dignissim tempor elit, rutrum ultrices sem luctus et. Fusce viverra consequat elit sit amet blandit.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class='img-fluid' mb-4)
                    h2.mb-4 Los mejores recios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu porttitor sem. Nullam dignissim tempor elit, rutrum ultrices sem luctus et. Fusce viverra consequat elit sit amet blandit.
